<div class="das-user-panel">
  <div class="govuk-width-container">
    <div class="das-user-panel__content">
      <span class="govuk-!-font-size-16 das-user-panel__item das-user-panel__item--grow">

        <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-0 das-no-wrap" style="color:#fff">
          <span class="govuk-visually-hidden">Signed in as </span>
          Mick CertTea
        </p>
      </span>
      <span class="das-user-panel__item">
        <a class="govuk-link govuk-link--white" href="/Account/SignOut">Sign out</a>
      </span>
    </div>
  </div>
</div>