.govuk-header__container--das-epao {
	border-bottom: 10px solid #004274;
}

.das-user-panel {
	margin-top: -10px;
	padding: 25px 0 15px;
	background-color: #005ea5;

	.das-user-panel__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.das-user-panel__item--grow {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.das-user-panel__item {
		color: #fff;
		margin-right: 15px;
		margin-bottom: 0;
	}

	.das-user-panel__item {
		color: #fff !important;
	}
}

.das-no-wrap {
	white-space: nowrap;
}

.govuk-link--white:link, .govuk-link--white:visited {
    color: #fff;
}