
{% extends "layout.html" %}

{% set serviceName %}
ESFA certification
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      {{serviceName}}
      <span class="govuk-caption-xl">
        Continuous improvement
      </span>
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-8">
      Changes to the EPAO staff admin system to allow users to delete certificates.
    </p>

   <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-3">
      Delete certificate
    </h2>

    <h3 class="govuk-heading-m">
     <a href="delete-1-0">Version 1-0</a>
     <span class="govuk-caption-m">16 April 2020</span>
   </h3>

   <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-3">
      Certificate print status
    </h2>

    <h3 class="govuk-heading-m">
     <a href="statuses-1-0">Version 1-0</a>
     <span class="govuk-caption-m">21 May 2020</span>
   </h3>
 </div>

 {% endblock %}
