{% extends "layout_das.html" %}
{% set serviceName = "Manage apprenticeships" %}

{% set pageName = "Confirm delete" %}

{% block pageTitle %}
{{pageName}} - Manage apprentices
{% endblock %}

{% block beforeContent %}
{{govukBackLink({
  href: "dashboard",
  text: "Return to dashboard"
})}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
    {{ govukRadios({
      idPrefix: "changed-name",
      name: "changed-name",
      fieldset: 
      {
        legend: 
        {
          text: "Are you sure you want to delete [student name]’s certificate?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
</div>

{% endblock %}
