{% extends "layout_epao.html" %}
{% set serviceName = "Manage apprenticeships" %}

{% set pageName = "Staff dashboard" %}

{% block pageTitle %}
{{pageName}} - Manage apprentices
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{pageName}}
    </h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="search">Search</a>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="#">Batch search</a>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="#">Register of EPAO</a>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="#">Print schedule configuration</a>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="#">Reports</a>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="#">Privately funded certificate approvals</a>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="#">External API</a>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="#">EPAO financial applications</a>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="#">Applications</a>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="#">Gateway</a>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>

{% endblock %}
